
html{font-size:10px;}

body {
    width: 1280px;
    height: 800px;
    background: linear-gradient(#044677,gray);
    position: relative;
}

h1 {
    margin: 2em 0 0 2em;
}

    h1:hover {
        cursor: pointer;
    }


.botonesInicio {
    position: absolute;
    top: 20em;
    left: 65em;
}

     button {      
        display:block;
        padding: 1.5em 1.5em;
        font-size: 2em;
        font-weight: bold;
        border-radius: 45px;
        border: none;
        margin: 2em auto;
        background-color: #0312bb;
        color: gray;
        transition: 1s;
    }

.botonesJuego button{display:none; margin:0 2em 0 auto;}

.botonesJuego {
    position: absolute;
    top: 60em;
    left: 45em;
}

.botonesAgregarPalabra {
    display: none;
    border-color: black;
    background: radial-gradient(#031cc4,#0312bb,#010a75);
    position: absolute;
    top: 30em;
    left: 45em;
}

button:hover {
    cursor: pointer;
    padding: 1.8em 1.8em;
    box-shadow: 0 0 10px 10px #c91ee2;
    color: #c91ee2;
}

.cartelGanaste-Perdiste {
    display: none;
    border-style:groove;
    border-color: deepskyblue;
    background: radial-gradient(#031cc4,#0312bb,#010a75);
    position: absolute;
    top: 15em;
    left: 48em;
    box-shadow: 10px 10px 10px 10px black;
    border-radius:10px;

}

    .cartelGanaste-Perdiste p {
        text-align: center;
        font-size: 5em;
        font-weight: bold;
        color: #c91ee2
    }

    .cartelGanaste-Perdiste p span{color:gray;}