

html {
    font-family: 'Lobster', cursive;
    font-size: 10px;
}

body {
    font-family: 'Lobster', cursive;
    width: 1280px;
    height: 1200px;
    background: linear-gradient(#044677,gray);
    position: relative;
}

h1 {
    margin: 2em 0 0 1em;
}

    h1:hover {
        cursor: pointer;
    }


.botonesInicio {
    position: absolute;
    top: 20em;
    left: 54em;
}

button {
    display: block;
    padding: 1.5em 1.5em;
    font-size: 2em;
    font-weight: bold;
    border-radius: 45px;
    border: none;
    margin: 2em auto;
    background-color: #0312bb;
    color: gray;
    transition: 1s;
}

.botonesJuego button{display:none; margin:0 2em 0 auto;}

.botonesJuego {
    position: absolute;
    top: 55em;
    left: 45em;
}

button:hover {
    cursor: pointer;
    padding: 1.8em 1.8em;
    box-shadow: 0 0 10px 10px #c91ee2;
    color: #c91ee2;
}


.botonesAgregarPalabra {
    display: none;
    border-color: black;
    position: absolute;
    top: 20em;
    left: 30em;
}


    .botonesAgregarPalabra #inputPalabra {
        font-family: 'Lobster', cursive;
        border: none;
        background: none;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
        color: mediumblue;
        text-shadow: 5px 5px 5px 5px black;
    }

.cartelGanaste-Perdiste {
    display: none;
    border-style: groove;
    border-color: deepskyblue;
    background: radial-gradient(#031cc4,#0312bb,#010a75);
    position: absolute;
    top: 15em;
    left: 48em;
    box-shadow: 10px 10px 10px 10px black;
    border-radius: 10px;
    transform: scale(1.2);
}

    .cartelGanaste-Perdiste p {
        text-align: center;
        font-size: 5em;
        font-weight: bold;
        color: #c91ee2;
    }

    .cartelGanaste-Perdiste p span{color:gray;}


footer p {
    color: black;
    text-align:center;
    font-weight: bold;
    position: center;
    font-size: 1.2em;
}
